<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.swiftpass.spaycx"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- 友盟分享权限 -->
    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-permission android:name="cn.swiftpass.spay.permission.MMOAUTH_CALLBACK"/>
    <uses-permission android:name="cn.swiftpass.spay.permission.MM_MESSAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="xvtian.gai.receiver"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name="com.hb.qx.HbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FullBleedTheme">

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="5a38b96c61"/>

        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="${BaiduMobAd_CHANNEL}"/>

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true"/>
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START"/>
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="true"/>
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="false"/>
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="false"/>
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="false"/>

        <activity
            android:name="com.hb.qx.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullBleedTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.hb.qx.NewADActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <!-- 百度广告 -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="e70bcb6e"/>

        <!-- 非信息广告必须添加 -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <!-- 信息流广告必须添加 -->
        <activity
            android:name="com.baidu.mobad.feeds.BaiduActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <!-- 友盟appid -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5681028367e58eda980010c1"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="s001"/>

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 微信和微信朋友圈的回调 -->

        <activity
            android:name="com.hb.qx.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme"/>

        <activity
            android:name="com.hb.qx.HelpSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme"/>

        <!-- 锁屏广播接收器 -->
        <receiver
            android:name="com.hb.qx.ScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <!-- 锁屏服务 -->
        <service android:name="com.hb.qx.LockService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <!-- 锁屏服务 -->
        <service android:name="com.hb.qx.UpdateService"/>
        <service
            android:name="com.hb.qx.QQHongbaoService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/qianghongbao_service_config"/>
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <receiver android:name="com.baidu.bottom.service.BottomReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.hb.qx.SeniorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.hb.qx.JiLuActivity">
        </activity>

        <!-- 支付开始 -->
        <activity
            android:name="com.hf.ep.HFPAY_PayWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tm.pay.TM_V_PayView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.tm.pay.TM_V_Progress"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 后台服务,可供其他程序调用 -->
        <service
            android:name="com.tm.pay.TM_Service"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
        </service>

        <!-- 添加状态监听 -->
        <receiver
            android:name="com.tm.pay.TM_Receiver"
            android:exported="false" >
            <intent-filter android:priority="2147483647" >

                <!-- 网络状态更新 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 应用卸载 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 随机启动 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 启动轮询 -->
                <action android:name="android.intent.action.START_REPORT" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >

                <!-- 启动 -->
                <action android:name="android.intent.action.CBOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 固定标识,当前SDK版本标识固定,请勿修改或遗漏,否则会造成无法计费 -->
        <meta-data
            android:name="SDKVERSION"
            android:value="TA100004" />
        <!-- 应用ID -->
        <meta-data
            android:name="APPID"
            android:value="APP2016112900014" >
        </meta-data>
        <!-- 应用标识 -->
        <meta-data
            android:name="APPKEY"
            android:value="f924e39c16094f4e88bf734368f6a110" >
        </meta-data>
        <!-- 应用秘钥 -->
        <meta-data
            android:name="APPSECRET"
            android:value="81cad7c9db224ca5ae0970617e45e5c4" >
        </meta-data>
        <!-- 应用配置数据 -->
        <meta-data
            android:name="APPDATA"
            android:value="6828_548_41013_1587" >
        </meta-data>
        <!-- 对应任意金额 -->
        <meta-data
            android:name="APPCODE"
            android:value="b5205fe011bc442fb204258412950d7f" >
        </meta-data>

        <activity
            android:name="com.longyou.haitunsdk.HaiTunPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="HAITUN_WECHAT_KEY"
            android:value="cd151b154aca59263721bbb509426b3a" />
        <meta-data
            android:name="HAITUN_WECHAT_MERID"
            android:value="10086" />
        <!-- 支付结束 -->
    </application>

</manifest>